name: CI

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]
    workflow_dispatch:

jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, windows-latest, macos-latest]
        steps:
        - uses: actions/checkout@v3
          with:
              fetch-depth: 0
              submodules: recursive

        - name: Setup .NET
          uses: actions/setup-dotnet@v5
          with:
              dotnet-version: 10.0.x

        - name: Restore dependencies
          run: dotnet restore

        - name: Restore Tools
          run: dotnet tool restore
          working-directory: examples/MonoPackExample

        - name: Build
          run: dotnet build --no-restore -c Release

        - name: Test
          run: dotnet test --no-build -c Release
