name: Create Release

on: workflow_dispatch

jobs:
  build:
    name: Clone Repo
    runs-on: ubuntu-latest

    steps:
      - name: Clone Repository
        uses: actions/checkout@v4
        with:
          ref: main
          submodules: recursive

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Run Tests
        run: dotnet test MonoPack.slnx --nologo --verbosity minimal --configuration Release

      - name: Pack Tool
        run: dotnet pack ./src/MonoPack/MonoPack.csproj --nologo --verbosity minimal --configuration Release

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: ./src/MonoPack/bin/Release/*.nupkg

  deploy:
    name: Deploy Nuget
    runs-on: ubuntu-latest
    needs: [ build ]

    steps:
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: ./artifacts

      - name: Push NuGet
        env:
          SOURCE_URL: https://api.nuget.org/v3/index.json
          API_KEY: ${{ secrets.NUGET_ACCESS_TOKEN }}
        run: |
          for PACKAGE in ./artifacts/*.nupkg; do
            dotnet nuget push "$PACKAGE" --source "$SOURCE_URL" --skip-duplicate --api-key "$API_KEY"
          done
